<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Stock Table</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stocks/style.css' %}">
</head>
<body>
  <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">登出</button>
  </form>
  <h2 style="text-align: center;">📈 Stock Overview</h2>
  <table>
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Close</th>
        <th>volume</th>
        <th>dividend</th>
        <th>dividend_date</th>
        <th>RSI</th>
      </tr>
    </thead>
    <tbody>
      {% for s in stocks %}
      <tr>
          <td>{{ s.symbol }}</td>

          <td>{{ s.close }}</td>

          <td title="{% if s.volume > 100000000 %}高成交量{% else %}正常成交量{% endif %}"
              class="{% if s.volume|default:0 > 100000000 %}high-volume{% endif %}">
              {{ s.volume }}
          </td>

          <td title="{% if not s.dividend or s.dividend == 0 or s.dividend == 'N/A' %}此股票不配息{% else %}配息中{% endif %}"
              class="{% if not s.dividend or s.dividend == 0 %}no-dividend{% endif %}">
              {{ s.dividend }}
          </td>

          <td title="{% if s.dividend_date == 'N/A' %}無可用配息日資料{% else %}配息日 (ex-dividend date){% endif %}">
              {{ s.dividend_date }}
          </td>

          <td title="{% if s.rsi != 'N/A' %}
                      {% if s.rsi > 70 %}
                          RSI 過熱 (>70)
                      {% elif s.rsi < 30 %}
                          RSI 超跌 (<30)
                      {% else %}
                          RSI 正常範圍
                      {% endif %}
                    {% else %}
                        無 RSI 資料
                    {% endif %}"
              class="
                  {% if s.rsi != 'N/A' %}
                      {% if s.rsi > 70 %}
                          rsi-high
                      {% elif s.rsi < 30 %}
                          rsi-low
                      {% endif %}
                  {% endif %}
              ">
              {{ s.rsi }}
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
